name: 'Project: CI'
on: 
  push:
    branches:
      - 'feature/**'
      - 'bugfix/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: CI Build
    uses: ./.github/workflows/shared-build.yml
    with:
      store-artifacts: false