name: Shared Build

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      store-artifacts:
        description: 'Flag if artifacts should be stored'
        type: boolean
        required: true
        default: false
      sign-vsix:
        description: 'Flag whether to sign the VSIX file'
        type: boolean
        required: false
        default: false
      configuration:
        description: 'The Visual Studio Configuration to build'
        type: string
        required: false
        default: 'Release'
      solution-path:
        description: 'The path to the VS solution to build'
        type: string
        required: false
        default: 'RemoteDebuggerLauncherExtension.sln'
      azure-timestamp-url:
        description: 'The Timestamp URL for code signing'
        type: string
        required: false
        default: ''
    secrets:
      AZURE_CLIENT_ID:
        description: 'The Azure Client ID for authentication'
        required: false
      AZURE_TENANT_ID:
        description: 'The Azure Tenant ID for authentication'
        required: false
      AZURE_SUBSCRIPTION_ID:
        description: 'The Azure Subscription ID for authentication'
        required: false
      AZURE_KEYVAULT_URL:
        description: 'The Azure Key Vault URL for code signing'
        required: false
      AZURE_KEYVAULT_CERT_NAME:
        description: 'The Azure Key Vault Certificate Name for code signing'
        required: false

jobs:
  shared_build:
    name: Build VS Extension
    runs-on: windows-2022

    env:
      ExtensionAssemblyInfoFile: ${{ github.workspace }}\src\Extension\GlobalAssemblyInfo.cs
      ExtensionManifestFile: ${{ github.workspace }}\src\Extension\RemoteDebuggerLauncher\source.extension.vsixmanifest
      ExtensionOutputPath: ${{ github.workspace }}\src\Extension\RemoteDebuggerLauncher\bin\${{ inputs.configuration }}
      ExtensionToolsPath:  ${{ github.workspace }}\src\Extension\RemoteDebuggerLauncher\ToolsRemote
      CheckSumProjectPath: ${{ github.workspace }}\src\RemoteTools\CheckSum\exe\CheckSumExe.csproj
      RemoteToolsOutputPath: ${{ github.workspace }}\src\RemoteTools\bin
      ScriptPath: ${{ github.workspace }}\eng\scripts

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # setup MSBUILD and Visual Studio
    - name: Add MSBUILD to PATH
      id: msbuild
      uses: microsoft/setup-msbuild@v2
      with:
        vs-version: '[17.2,18)'
        msbuild-architecture: x64

    # Install .NET Sign Tool from NuGet
    - name: 'Setup: Install .NET Sign Tool'
      if:  ${{ inputs.store-artifacts && inputs.sign-vsix }}
      run: dotnet tool install --global --prerelease sign
      shell: pwsh

    # Build Solution: determine and apply the version for the assemblies and VSIX package
    - name: 'Build Solution: Determine Version'
      id: git-version
      uses: ./eng/actions/git-version

    # apply dev versions on pushes to any other branches
    - name: 'Build Solution: Apply assembly version DEV'
      if: ${{ github.ref_type == 'branch' && github.ref != 'refs/heads/main' }}
      run:  ${{ env.ScriptPath }}\AssemblyInfoFileSetVersion.ps1 -SourceFilePath  ${{ env.ExtensionAssemblyInfoFile }}
        -VersionPrefix ${{ steps.git-version.outputs.versionPrefix }}
        -VersionSuffix ${{ steps.git-version.outputs.versionSuffix }}
        -VersionRevision ${{ steps.git-version.outputs.versionRevision }}
        -VersionBuild ${{ steps.git-version.outputs.versionBuild }}
      shell: pwsh

    # apply prod versions on pushes to the main branch or a tag gets created
    - name: 'Build Solution: Apply assembly version PROD'
      if: ${{ (github.ref_type == 'branch' && github.ref == 'refs/heads/main') || github.ref_type == 'tag' }}
      run:  ${{ env.ScriptPath }}\AssemblyInfoFileSetVersion.ps1 -SourceFilePath  ${{ env.ExtensionAssemblyInfoFile }}
        -VersionPrefix ${{ steps.git-version.outputs.versionPrefix }}
        -VersionBuild ${{ steps.git-version.outputs.versionBuild }}
        -VersionRevision ${{ steps.git-version.outputs.versionRevision }}
      shell: pwsh

    - name: 'Build Solution: Apply VSIX version'
      run:  ${{ env.ScriptPath }}\VsixManifestFileSetVersion.ps1 -SourceFilePath  ${{ env.ExtensionManifestFile }} -VersionPrefix ${{ steps.git-version.outputs.versionPrefix }}
      shell: pwsh

    - name: 'Build Solution: Publish Remote Tools'
      run: |
       dotnet publish ${{ env.CheckSumProjectPath }} -c Release --framework net8.0 --runtime linux-x64 -o ${{ env.RemoteToolsOutputPath }}\linux-x64
       dotnet publish ${{ env.CheckSumProjectPath }} -c Release --framework net8.0 --runtime linux-arm64 -o ${{ env.RemoteToolsOutputPath }}\linux-arm64
       dotnet publish ${{ env.CheckSumProjectPath }} -c Release --framework net8.0 --runtime linux-arm -o ${{ env.RemoteToolsOutputPath }}\linux-arm
       ${{ env.ScriptPath }}\WriteRemoteToolsVersionJson.ps1 -SourceDirectory ${{ env.ExtensionToolsPath }} -Version ${{ steps.git-version.outputs.versionPrefix }}
      shell: pwsh

    # Build Solution: restore NuGet Packages
    - name: 'Build Solution: NuGet restore'
      id: nuget-restore
      run: msbuild ${{ inputs.solution-path }} /t:Restore /p:Configuration=${{ inputs.configuration }}
      shell: pwsh

    # Build Solution: Rebuild
    - name: 'Build Solution: Rebuild'
      id: build
      run: msbuild ${{ inputs.solution-path }} /t:Rebuild /p:Configuration=${{ inputs.configuration }}
      shell: pwsh

    # Login to Azure using a ServicePrincipal configured to authenticate against a GitHub Action
    - name: 'Build: Azure CLI login'
      if: ${{ inputs.store-artifacts && inputs.sign-vsix }}
      uses: azure/login@v2
      with:
        allow-no-subscriptions: true
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
    
    - name: 'Build: Sign VSIX'
      if: ${{ inputs.store-artifacts && inputs.sign-vsix }}
      shell: pwsh
      run: >
        sign code azure-key-vault
        *.vsix
        --base-directory ${{ env.ExtensionOutputPath }}
        --azure-credential-type "azure-cli"
        --azure-key-vault-url "${{ secrets.AZURE_KEYVAULT_URL }}"
        --azure-key-vault-certificate "${{ secrets.AZURE_KEYVAULT_CERT_NAME }}"
        --timestamp-url "${{ inputs.azure-timestamp-url }}"

    - name: 'Store Artifacts: VSIX'
      uses: actions/upload-artifact@v4
      if: ${{ inputs.store-artifacts }}
      with:
        name: vsix
        path: ${{ env.ExtensionOutputPath }}\*.vsix

    - name: 'Store Artifacts: Binaries'
      uses: actions/upload-artifact@v4
      if: ${{ inputs.store-artifacts }}
      with:
        name: binaries
        path: |
          ${{ env.ExtensionOutputPath }}
          !${{ env.ExtensionOutputPath }}\*.vsix
